### pycaches
__pycache__
src/__pycache__


### Temporal or Ongoing Codes
src/ongoing_cpp
src/test_lru_cache.py
src/_deprecated/MemoryModel_0311_2328.py
src/_deprecated/MemoryModel_backup.py

### Temporal Scripts
dlrm_validation_batches.sh
dlrm_validation_tables.sh
validation_output_gather.sh
validation_output_gather_tables.sh
run_sim_test.sh

### Temporal Results
offmem_trace.txt
offmem_trace_flat.txt
intermediate
off_chip_memory_cycles_spad_off_1_batchsize.csv
off_chip_memory_cycles_spad_off_1_tables.csv
results
results_energy_207and215/
results_onmem/
results_val/
results_val_forv6e/
results_val_forv6e_tables_b128/
results_val_forv6e_tables_b256/
results_val_forv4/
results_val_forv4_tables/
results_val_forinf2/
results_val_forinf2_tables/

### Temporal or Large Datasets
datasets/vectordb/deep250m_100m.txt
datasets/vectordb/deep250m_small_100m.txt
datasets/vectordb/trivia_zipf12_100m.txt
datasets/vectordb/trivia_zipf15_100m.txt
datasets/vectordb/wikiall_zipf12_100m.txt
datasets/vectordb/wikiall_zipf15_100m.txt
datasets/vectordb/msmarco_100m.txt
datasets/vectordb/clueweb22_100m.txt
datasets/vectordb/wikiall_seq_100m.txt
datasets/vectordb/trivia_seq_100m.txt

### temp
EONSIM_IMPLEMENTATION.md
PERF_MODEL_IMPLEMENTATION.md
tools/mNPUsim/mnpusim
workload_configs/vdb.yaml
configs/cache_OPT_twolevel.yaml